/*#htmlProfil{
	background-color: rgb(76, 175, 80);
	background-image:none; 
}*/
body{
	max-width: parent-match;
	height: auto;
	background-color: #0b6503;
	/*background-image: url("../slike/suma-pozadina.jpg");*/
	background-position: center;
	background-repeat: no-repeat;
}
.omotac{
	color: white;
	font-size:  130%;
	font-family: Verdana;
	background-color: white;
	margin: 10px;
    max-width: 1000px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
	padding: 30px;

}
.pozdravProfil{
	color:black;
	display: grid;
	grid-template-columns:50% 50%;
	font-size: 130%;

}
.logout{
	text-align: right;
	font-style: oblique;
	color: #0b6503;
	
}
.logout>a>img:hover{
	border: #0b6503 1px solid;
/*max-height: 63px;
max-width: 63px;*/
transform:scale(1.1);
border-radius: 50%;
}
.logout>a>img{
	max-height: 60px;
	max-width: 60px;
	transition: 2s all;
	transition-timing-function: linear;
}
.ikonice{
	display:grid;
	grid-template-columns:repeat(4,1fr);
	grid-gap:10px;
	color:  #0b6503;
	text-align: center;

}
.recikliraj{

	position: center;
	text-align: center;
	display: block;
	margin: 30px auto;
}
#recikBtn{
	background-color: green;
	color: white;
	height: 50px;
	width: 100px;
}
#recikBtn:hover{
	
	background-color: #008000c7;
}
#izracBtn{
	background-color: black;
	color: white;
	height: 50px;
	width: 100px;
}
#izracBtn:hover{
	background-color: #000000c7;
}
#rezultat{
	text-align: center;
	color: green;
}
.center {
    margin: auto;
    width: 60%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hideform {
    display: none;
}
p{
	color:#0b6503;
}

